footer{
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    padding:24px 0;
    margin:0 auto;
}
.footer-container{
    padding:0 40px;
    display:flex;
    margin:0 auto;
    /* align-items: center; */
    justify-content: center;
}
.links-container{
    margin:16px;
}
.links-container ul{
    text-decoration: none;
    padding:0;
    cursor: pointer;
    /* height:25px; */
}